.container {
  border: 1px solid gray;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: beige;
  color: black;
  box-shadow: 5px 5px white;
  cursor: pointer;
}

.container div {
  display: flex;
  align-items: center;
}

.container div p {
  margin-left: 1rem;
}
